.column {
    position: relative;
    z-index: 2;
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fdf5e6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 1em;
}

.body:after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #e2d2b4;
    overflow-x: hidden;
    align-items: center;
}

.quote {
    font-size: large;
    width: fit-content;
    /*width: 25em;*/
}

.select {
    font-size: large;
}

.buttons {
    margin: 1em;
    font-size: large;
}

.table {
    padding: 5px;
    font-size: large;

}

.table td {
    padding: 5px;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(400%);
    }
}

.runes-container {
    display: flex;
    width: auto;
    position: absolute;
    padding: auto;
}

.rune {
    z-index:0;
    font-size: 1em;
    font-family: 'RuneScape UF', serif;
    color: rgba(41, 18, 3, 0.8);
    animation: fadeInOut 20s infinite;
    opacity: 0;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }
    10%,
    30% {
        opacity: 1;
    }
    31%,
    100% {
        opacity: 0;
    }
}
