.column_approve {
    position: relative;
    z-index: 2;
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-color: #505149;
    border-style: solid;
    transition: 0.3s;
    background-image: url('/quote_texture.png');
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(130%);
    margin-top: 1em;
    max-width: 25em;
    min-width: 25em;
}

.text_approve{
    width: 80%;
    padding-top: 5px;
    margin-bottom: 0px;
    align-items: start;
}